// ==========================================================================
// #s-hide
// ==========================================================================


.is-active-{

	&siteHeader {
		background: #585e69;
	    position: fixed;
	    width: 100%;
	    padding: 10px 0;
	    box-shadow: 0 0 21px -1px rgba(0, 0, 0, 0.48);
	    padding: 0;
	}

	&mainNavigationPanel {
		@include mq(medium-up) {
	    	padding-top: 7px;
	    	padding-bottom: 7px;
		}
	}

	&mainNavigationPanelMenuContainer {
		margin-top: 1px;
	}


	&siteLinks {
		a {
			color: white;
		}
	}

	&btnRoundSuccess {
		a {

			background-color: $brand-color;	
			color: white!important;
		}
	}
}

