// ==========================================================================
// #s-hide
// ==========================================================================

.is-desktop-hide {
	display: block;
	@include mq(medium-up) {
		display: none;
	}
}

.is-tabletBelow {

	@include m(hide) {
		display: none;
		@include mq(medium-up) {
			display: block;
		}
	}

}