// ==========================================================================
// #App Page
// ==========================================================================

.c-downoladAppSection {

	@include e(learnX) {
		text-align: center;
		@include mq(medium-up) {
			text-align: left;
			margin-top: 50px;
			margin-left: 60px;
		}
	}

	@include e(learnX-heading) {
		font-size: 2.6625em;
	    color: $brand-color;
	    text-transform: uppercase;
	    @include mq(medium-up) {
			font-size: 3.0625em;
    	}
	}

	@include e(learnX-desc) {
		margin-bottom: 18px;
	}

	@include e(mobile) {
		max-width: 200px;
    	margin-left: 120px;
	}

	@include e(heading-desc) {
		font-weight: $font-weight--medium;
	    padding-bottom: 13px;
	    color: lighten(	$secondary-text-color, 30%);
	    font-size: 20px;
	    margin: 0 auto;	
	    width: 50%;
	    margin-bottom: 10px;
	}

	

}


.androidFace {
    background-image: url(../assets/img/android.png);
}

.androidFace--invert {
    background-image: url(../assets/img/android2.png);
}
