// ==========================================================================
// #Jobs Page
//===========================================================================


//Jobs Page
.c-jobsPage {

	@include e(category) {
		margin-bottom: 80px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	@include e(categoryTitle) {
		font-weight: $font-weight--medium;
		font-size: 27px;
		font-family: $font-family--primary;
	    color: $primary-text-color;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    margin-bottom: 5px;
	    font-weight: $font-weight--thick;
	    position: relative;
	    @include mq(medium-up) {
			font-size: 33px;
		}
	}

	@include e(post) {
		position: relative;
		margin-bottom: 30px;
		font-family: $font-family--secondary;
		&:hover .c-jobsPage__jobTitle{
			color: $brand-color;
		}
	}

	@include e(jobTitle) {
		font-size: 19px;
		color: darken($secondary-text-color, 30%);
		overflow: hidden;
		margin-right: 115px;
		@include mq(medium-up) {
			font-size: 23px;
		}

	}

	@include e(postCategories) {
		@include e(link) {
			display: inline-block;
			color: darken($secondary-text-color, 5%);
			text-transform: uppercase;
			margin-right: 7px;
		    font-size: 11px;
		    @include mq(medium-up) {
				font-size: 13px;
			}
		}
	}


	@include m(postHeadline) {
			text-align: center;

		@include mq(small-up) {
			float: left;
			text-align: left;
		}
	}

	@include m(postApplyButton) {
		text-align: center;
		margin-top: 7px;
		@include mq(small-up) {
			float: right;
			margin-top: 0;
			
		}

		@include m(bottom) {
			text-align: center;
		}
	}


}

.horizontal-line {
    margin: 10px 0 25px 0;
    width: 80px;
    height: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.vertical-line, .horizontal-line {
    border-color: #e2e2e2;
}