// ==========================================================================
// l-base
// ==========================================================================

.l-clearfix:after {
	content: "";
	display: table;
	clear: both;
}

// General Layout

.l-container {
	margin: 0 15px;
	@include mq(small-up) {
		margin: 0 auto;
		padding-right: 15px;
		padding-left: 15px;
	}

	@include mq(medium-up) {
		max-width: 1060px;
	}
}

.l-section-block {
	padding: 30px;
	@include mq(small-up) {
		padding: 48px;
	}
	@include mq(medium-up) {
		padding: 60px 0;
	}
}

.l-align-center {
	text-align: center;
}

// Background

.bg {

	@include m(prim) {
		background-color: $brand-color;
	}

	@include m(sec) {
		background-color: $wild-sand;
	}

	@include m(teri) {
		background-color: $white;
	}

}