// ==========================================================================
// l-header
// ==========================================================================

.l-siteHeader {
	z-index: 9999;
	background-color: #f4f4f4;
	transition: height 0.4s ease,background-color 0.2s ease;
	
	@include mq(medium-up) {
		    padding-top: 25px;
	}
}