// ==========================================================================
// #c-buttons
// ==========================================================================

// $c-button-font-size: 16;
// $c-button-primary : red;
// $c-success: green;



// $button-color: $primary !default;
// $button-text-color: white !default;
// $button-line-hright: 32 !default;
// $button-border-radius: 3 !default;
// $button-padding: 30 !default;
// $button-font-size: 24 !default;
// $button-weight: bold !default;


// @mixing default-button ($color:
// 	$button-text-color,
// 	$line-height: $button-line-hright,
// 	$radius: $button-border-radius,
// 	$padding: $button-padding,
// 	$font-size: $button-font-size.
// 	$weight: $button-weight) {

// 	color: $color;
// 	line-height: em($button-line-height);
// 	border-radius: em($button-radius);
// 	padding: 0 em($button-padding);
// 	font-size: em($button-font-size);
// 	font-weight: $button-weight;
// 	$:hover {
// 		background-color: darken($color, 5%);
// 	}
// }

// @mixin flat-button($color: $button-color) {
// 	@include default-button;
// 	background-color: $color; 
// }


// //button values
// %default-button {
// 	@include default-button;
// }


// .primary {
// 	@extend %default-button;
// 	@include flat-button($primary);
// }

// .secondary {
// 	@extend %default-button;
// 	@include flat-button($success);
// }

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
  }
  &:active {
    background:darken($bg,25%);
  } 
}

%btn {
	color: white;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.btn--primary {
	@extend %btn;
	@include button-bg($brand-color);
}

.btn--blue {
	@extend %btn;
	@include button-bg(#3498db);
}

.btn--block {
	width: 100%;
}


.btn--subscribe {
	@extend %btn;
	@include button-bg($brand-color);
    background: #02B89A;
    padding: 10.5px 17px;
    margin-left: -1px;
    float: left;
	width: auto;
}

.btn--contact {
	@extend %btn;
	@include button-bg($brand-color);

    padding: 0px 5%;
    padding: 9.5px 10px;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}


.btn--join {

	a {
		border: 1px solid $brand-color;
		border-radius: 16px;
		color: $brand-color!important;
		padding: 7px 30px !important
	}

}
