// ==========================================================================
// #c-footer
// ==========================================================================

.c-primaryFooter {
	background-color: #585e69;
	padding: 40px 0 20px 0;
	@include mq(small-up) {
		padding: 50px 0 40px 0;
	}

	@include m(heading) {
		color: #efefef;
	    font-family: Proxima Nova;
	    font-size: 20px;
	    font-weight: 300;
	    margin-bottom: 25px;

	    &:after {
		    content: '';
		    display: block;
		    position: absolute;
		    margin-top: 2px;
		    height: 2px;
		    width: 90%;
		    -webkit-box-shadow: inset 100px 0 0 -2px #02b89a;
		    -moz-box-shadow: inset 100px 0 0 -2px #02b89a;
		    box-shadow: inset 100px 0 0 -2px #02b89a;
		    background-color: #fff;

		}


	}

	@include m(description) {
		font-size: 14px;
		color: #adadad;
		margin-bottom: 10px;
	}

	@include m(socialLinksMenu) {
		@include e(item) {
			display: inline-block;
			margin-right: 5px;
		    height: 38px;
		    width: 38px;
		    line-height: 42px;
		    font-size: 1.25em;
		    text-align: center;
		    margin-bottom: 10px;
		    background-color: #dacdcd;
		    a{
		    	color: #585e69;
			}
		}
	}

	@include m(subscribeForm) {
		display: block;
	}

	@include m(column) {
		margin-bottom: 40px;
	}

}

.c-secondaryFooter {
	background-color: #3e4653;
    padding: 18px 0 23px 0;
    text-align: center;
    @include mq(medium-up) {
    	text-align: inherit;
    }

    @include m(legalLinksWrapper) {
    	@include mq(medium-up) {
			float: left;
				padding-left: 15px;
	padding-right: 15px;
		}
    }

    @include m(legalLinks) {

 		@include mq(medium-up) {
 			float: left;
 		}

    	@include e(item) {
    		display: inline-block;
    		padding: 0 5px;

    		    @include mq(small-up) {
    				padding: 0 5px 0
    			}
    			@include mq(medium-up) {
    				padding:0 7px 0 0;
    			}
    		}

	    	a {
	    		color: $brand-color;
	    		text-decoration: none;
	    	}
    }

	@include m(copyright) {
		@include mq(medium-up) {
			float: right;
			color: #adadad;
			padding: 0 20px;
		}
	}

}