// ==========================================================================
// #c-forms
// ==========================================================================

%form-input {
	color: #666;
    border: 1px solid #ccc;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 12px;
}

.form-control {
	@extend %form-input;

	@include m(left) {	color: #666;
		@extend %form-input;
    	float: left;
    }

    @include m(contact) {
        padding: 15px 12px;
        width: 100%;
        font-size: 15px;
        margin: 0 auto;
        display: block;
        border: none;
        background-color: #efefef;
        font-family: Proxima Nova;
        font-weight: 300;
        margin: 18px 0;
    }

    @include m(textarea) {
        height: 112px;
    }

}


.form-group {
    width: 50%;
    @include mq(small-up) {
	   width: auto;
    }

    @include m(65) {
        width: 65%;
        @include mq(small-up) {
           width: auto;
        }
    }

    @include m(35) {
        width: 35%;
        @include mq(small-up) {
           width: auto;
        }
    }
}