// ==========================================================================
// #c-forms
// ==========================================================================

%form-input {
	color: #666;
    border: 1px solid #ccc;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 12px;
}

.form-control {
	@extend %form-input;

	@include m(left) {	color: #666;
		@extend %form-input;
    	float: left;
    }

}

.form-group {
	width: auto;
}