// ==========================================================================
// #c-navigation
// ==========================================================================

.c-mainNavigationPanel {
	line-height: 2.4em;

	@include mq(medium-up) {
		padding: 10px 0;
	}

	@include m(header) {
		content: "";
	    display: table;
	    clear: both;
	    width: 100%;
	    padding: 5px 0;
		@include mq(medium-up) {
    		clear: none;
    		width: auto;
    	    display: inline-block;
    	    float: left;
    	    padding: 0;
    	}
	}

	@include m(logoContainer) {
		float: left;
    	@include mq(medium-up) {
    		
    	}
	}

	@include m(logo) {
		max-width: 160px;
    	height: auto;
	}

	@include m(mobileMenuButton) {
		float: right;
		color: #02b89a;
	    font-size: 32px;
	    cursor: pointer;
		@include mq(medium-up) {
    		display: none;
    	}
	}

	@include m(menusWrapper) {
		@include mq(medium-up) {
			margin-top: 10px;
		}
	}

	@include m(menuContainer) {
		background-color: #585e69;
		margin-left: -15px;
		margin-right: -15px;
		padding: 20px 0;
		display: none;
		@include mq(medium-up) {
			background-color: inherit;
			text-align: center;
			margin-left: 0;
			margin-right: 0;
			padding: 0;
		    display: block;
		}
	}

	@include m(item) {
		a {
			color: #efefef;
		    padding: 7px 13px;
		    font-family: $font-family--primary;
		    font-weight: 600;
		    font-size: 14px;
		    vertical-align: middle;
		    text-decoration: none;
		    text-transform: uppercase;
		    display: block;
		    &:hover {
		    	color: $brand-color;
		    }
		}
		@include mq(medium-up) {
			display: inline-block;
			a {
				color: #434343;
				padding:0 13px;
				font-size: 14px;
			}
		}
	}

	@include m(menuAccount) {
		display: none;
		@include mq(medium-up) {
    		display: block;
    		float: right;
    	}
	}

}