// ==========================================================================
// #c-navigation
// ==========================================================================

.c-mainNavigationPanel {
	line-height: 2.4em;
	padding-left: 15px;
	padding-right: 15px;
	@include mq(medium-up) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	@include m(header) {
		content: "";
	    display: table;
	    clear: both;
	    width: 100%;
	    padding: 5px 0;
		@include mq(medium-up) {
    		clear: none;
    		width: auto;
    	    display: inline-block;
    	    float: left;
    	    padding: 0;
    	}
	}

	@include m(logoContainer) {
		float: left;
    	@include mq(medium-up) {
    		padding-bottom: 2px;
    	}
	}

	@include m(logo) {
		max-width: 151px;
    	height: auto;
	}

	@include m(mobileMenuButton) {
		float: right;
		color: #02b89a;
	    font-size: 32px;
	    cursor: pointer;
		@include mq(medium-up) {
    		display: none;
    	}
	}



	@include m(menuContainer) {
		background-color: #585e69;
	    margin-left: -30px;
	    margin-right: -30px;
		padding: 20px 0;
		display: none;
		@include mq(medium-up) {
			background-color: inherit;
			text-align: center;
			margin-left: 0;
			margin-right: 0;
			padding: 0;
		    display: block;
		}
	}

	@include e(item) {
		@extend %nav-item;
		a {
			@extend %nav-link;
			&:hover {
				@extend %nav-item-on;
			}
		}

		@include m(active) {
			@extend %nav-item;

			a{
				@extend %nav-link;
				@extend %nav-item-on;
			}
		}
		}


	@include m(menuAccount) {
		display: none;
		@include mq(medium-up) {
    		display: block;
    		float: right;
    		//padding-right: 21px;
    	}
	}

}