// ==========================================================================
// #BASE
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	background: $body__background;

	font-family: $body__font-family;
	font-weight: $global-weight-normal;
	line-height: ($body__line/$body__font-size);
	color: $body__color;

	@if ($body__antialiased) {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 10px;
}

img {
	display: inline-block;
	vertical-align: middle;

	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}



// ==========================================================================
// Typograhy
// ==========================================================================

@font-face{
    src: url(../fonts/proximanova/proximanova-bold-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 700;
}
@font-face{
    src: url(../fonts/proximanova/proximanova-regular-webfont.ttf);
    font-family: Proxima Nova;
}
@font-face{
    src: url(../fonts/proximanova/proximanova-light-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 300;
}

@font-face{
    src: url(../fonts/proximanova/proximanova-regularitalic-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 400;
    font-style: italic;
}
@font-face{
    src: url(../fonts/proximanova/proximanova-semibold-webfont.ttf);
    font-family: Proxima Nova;
    font-weight: 600;
}