// ==========================================================================
// #BASE
// ==========================================================================
body {
	margin: 0;
	padding: 0;

	background: $body__background;

	font-family: $body__font-family;
	font-weight: $global-weight-normal;
	line-height: ($body__line/$body__font-size);
	color: $body__color;

	@if ($body__antialiased) {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
}


img {
	display: inline-block;
	vertical-align: middle;

	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}