// ==========================================================================
// #Settings
// ==========================================================================

// Font Stacks

$font-url--google-roboto        : "https://fonts.googleapis.com/css?family=Roboto";
$font-url--proximanova		    : "fonts/proximanova/proximanova.css";

$font-family--primary    	: 'Proxima Nova', Helvetica, Arial, sans-serif !default;
$font-family--secondary  	: 'Roboto', Helvetica, Arial, sans-serif !default;



// List maps = color palette

$global-weight-normal: normal !default;



// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;



/*

Brand color - #02b89a; //Green:
Headlines,
Buttons,

Header - #585e69; //Light 

*/



// Descriptive Base Colors
$primary-text-color   : #4A4A4A; // Body's default color
$secondary-text-color : lighten($primary-text-color, 40%); //e.g Question1


$persian-green  : #02B89A;  //green
$tundora		: #4A4A4A;  //grey
$silver-chalice : #a2a2a2;  //light grey e.g. 15% lighter than tundora

$shuttle-gray   : #585E69;



// Color Usage

$brand-color 	: $persian-green; 

$primary-text   : $tundora;
$secondary-text : $silver-chalice; //light grey



$navigation 	: #434343;

$header 		: #f4f4f4; //grey 

$header-invert 	: $shuttle-gray;
$footer 		: $shuttle-gray;

$bottom-footer  : #3e4653;











// Descriptive Base Colors

// $white : #fff;
// $black : #0b0b0b;
// $grey  : #797e83;

// $fountain-blue  : #52bab3 !default;
// $emerald        : #5ece7f !default;
// $sunglo         : #e67478 !default;
// $coral          : #ff784f !default;
// $purple-majesty : #9279c3 !default;
// $scooter        : #39add1 !default;

// // Color Usage

// $color-primary   : $fountain-blue !default;
// $color-secondary : $scooter !default;
// $color-accent    : $emerald !default;
// $color-shadow    : rgba($black, .2) !default;

// // Color Palette Modifiers

// $color-palettes: (
// 	grey: (
// 		xx-light : lighten($grey, 43%),
// 		x-light  : lighten($grey, 35%),
// 	  light    : lighten($grey, 12%),
// 	  base     : $grey,
// 	 	dark     : darken($grey, 8%),
// 	 	x-dark   : darken($grey, 16%)
// 	),
// 	black: (
// 		light    : lighten($black, 10%),
// 		base     : $black,
// 		dark     : darken($black, 10%)
// 	)
// );

// // UI Colors

// $ui-colors: (
// 	default : $fountain-blue,
// 	success : $emerald,
// 	error   : $sunglo,
// 	warning : $coral,
// 	info    : $purple-majesty
// );

// Text/Font
$body__font-size  : 16px !default;
$body__line       : 24px !default;
$body__font-family: $font-family--primary;
$body__background : white;
$body__color	  : $primary-text-color;
$body__antialiased: true !default;
// Border radius

$br--default    : .4em;
$br--round      : 50%;

// Path to Assets

$path--rel      : "../assets/img/";